<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:hdp="http://www.springframework.org/schema/hadoop" 
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/hadoop http://www.springframework.org/schema/hadoop/spring-hadoop-1.0.xsd">
	
	<import resource="classpath*:META-INF/apple/apple-data-hbase-datasource.xml" />
	
	<bean id="journeyTableConfig" class="com.appleframework.data.hbase.config.HBaseTableConfig"
    	init-method="init">
    	<property name="autoFlush" value="${hbase.table.auto.flush}" />
    	<property name="tableName" value="${hbase.table.name.journey}" />
		<property name="configResource">   
			<value>classpath:/hbase/hbase-journey.xml</value>   
		</property>
	</bean>	
			
	<bean id="journeyHbaseDao" class="com.appleframework.data.hbase.client.SimpleHbaseClientImpl">
		<property name="hbaseDataSource" ref="hbaseDataSource" />
		<property name="hbaseTableConfig" ref="journeyTableConfig" />	
	</bean>
	
	<bean id="hbaseAdminClient" class="com.appleframework.data.hbase.client.SimpleHbaseAdminClientImpl">
		<property name="hbaseDataSource" ref="hbaseDataSource" />
	</bean>
		
</beans>