<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="
    	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd"
	default-lazy-init="false">
    
 	<dubbo:application name="${application.name}" owner="${application.owner}" />
 	
 	<dubbo:registry protocol="zookeeper" address="${registry.address}" 
 		file="${registry.file:/work/data/dubbo/apple-auto/partner-platform/dubbo-registry.cache}" />
 	
 	<dubbo:consumer 
 		timeout="${consumer.timeout:9000}"
 		layer="${consumer.layer:web}"
 		actives="${consumer.actives:0}" /> 	
 	
	<dubbo:reference id="fenceEntityService" interface="com.appleframework.auto.service.fence.FenceEntityService" 
		version="1.0" check="false" />
	
	<dubbo:reference id="journeySearchService" interface="com.appleframework.auto.service.journey.JourneySearchService" 
		version="1.0" check="false" />
	
	<dubbo:reference id="locationSearchService" interface="com.appleframework.auto.service.location.LocationSearchService" 
		version="1.0" check="false" />
	
</beans>