<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:hdp="http://www.springframework.org/schema/hadoop" 
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/hadoop http://www.springframework.org/schema/hadoop/spring-hadoop-1.0.xsd">	
	
	<bean id="masterSlaveServersConfig" class="com.appleframework.cache.jedis.config.MasterSlaveServersConfig">
		<property name="masterAddressUri" value="${redis.masterAddressUri}" />
		<property name="slaveAddressUris" value="${redis.slaveAddressUris}" />
		<property name="database" value="${redis.database}" />
	</bean>
		
	<bean id="poolConfig" class="redis.clients.jedis.JedisPoolConfig">
		<property name="maxTotal" value="24" />
		<property name="maxIdle" value="24" />
		<property name="minIdle" value="0" />
	</bean>
		
	<bean id="poolFactory" class="com.appleframework.cache.jedis.factory.MasterSlavePoolFactory"
		destroy-method="destroy" init-method="init">
		<property name="serverConfig" ref="masterSlaveServersConfig" />
		<property name="masterPoolConfig" ref="poolConfig" />
		<property name="slavePoolConfig" ref="poolConfig" />
	</bean>	
	
	<bean id="cacheManager" class="com.appleframework.cache.jedis.MasterSlaveJedisBucketCacheManager">
		<property name="poolFactory" ref="poolFactory" />
	</bean>
	<!-- 
	<bean id="fenceResultConsumer" class="com.appleframework.auto.calculate.fence.consumer.FenceConsumer"
		init-method="init">
		<property name="poolFactory" ref="poolFactory" />
		<property name="topic" value="${redis.fence.topic:KEY_FENCE_TOPIC}" />
	</bean>	
	 -->
</beans>